name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install --no-root
      - name: Run linter (ignore AppLibrary module naming)
        run: poetry run pylint src tests -d C0103
      - name: Run tests
        run: poetry run coverage run --branch -m pytest; poetry run coverage html
      - name: Run Robot Framework tests
        run: poetry runrobot tests/robot

